services:

  catalog-service:
    depends_on:
      - polar-postgres
    image: catalog-service:latest
    container_name: catalog-service
    ports:
      - "8082:8082"
      - "8083:8083" # remote debugging port
    environment:
      - BPL_JVM_THREAD_COUNT=50 # buildpack var to configure the number of threads in the JVM
      - BPL_DEBUG_PORT=8083 # buildpack var to enable remote debugging on port 5005
      - BPL_DEBUG_ENABLED=true # buildpack var to enable remote debugging
      - SPRING_DATASOURCE_URL=jdbc:postgresql://polar-postgres:5432/polardb_catalog
      - SPRING_PROFILES_ACTIVE=testdata
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8888 # URL of the config server with DNS name as the service name

  config-service:
    image: config-service:latest
    container_name: config-service
    ports:
      - "8888:8888"
    environment:
      - BPL_JVM_THREAD_COUNT=50 # buildpack var to configure the number of threads in the JVM

  polar-postgres:
    image: postgres:14.4
    container_name: polar-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - ./postgresql/init.sql:/docker-entrypoint-initdb.d/init.sql # initialize with a loading of init.sql script